.top-fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  cursor: default;
  z-index: 300;
}

.top-light {
  border-bottom: 1px solid black;
  background-color: white;
  color: black;
}

.top-dark {
  border-bottom: 1px solid white;
  background-color: #2F2F2F;
  color: white;
}

.top-image {
  height: 30px;
  vertical-align: middle;
}

.top-settings-container {
  float: right;
  height: 100%;
}

.top-settings {
  display: inline-block;
}

.top-value-container-container {
  float: left;
}

.top-value-container {
  display: inline-block;
}

.top-value {
  font-size: 30px;
  vertical-align: middle;
}

.top-level-container {
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}

.pointer {
  cursor: pointer;
}

.main-container {
  padding-top: 30px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.quarter-width {
  width: 25%;
}

.sync-setup-server-image {
  width: 40px;
  height: 40px;
}

.sync-server-image {
  width: 70px;
  height: 70px;
}

.package-list-icon {
  width: 50px;
  height: 50px;
}

.toast {
  padding: 10px;
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 500;
  text-align: center;
  min-width: 100px;
  max-width: 75vw;
  cursor: pointer;
  font-size: large;
}

.dark .toast {
  background-color: #3F3F3F;
  border: 5px solid lightgray;
}

.light .toast {
  background-color: white;
  border: 5px solid black;
}

.dark {
  background-color: #3F3F3F;
  color: white;
  scrollbar-color: dark;
}

.dark a {
  color: #FFFF11;
}
.dark a:link {
  color: #FFFF11;
}
.dark a:visited {
  color: #FFFF11;
}
.dark a:active {
  color: #00FFFF;
}

a {
  color: #0000EE;
}
a:link {
  color: #0000EE;
}
a:visited {
  color: #0000EE;
}
a:active {
  color: #FF0000;
}

.light {
  background-color: white;
  color: black;
  scrollbar-color: light;
}

.progress-bar-outer {
  display: block;
  height: 35px;
  width: 75vw;
  border: 3px solid grey;
  margin: auto;
}

.progress-bar-inner {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #EE1F34;
}

.achievement-outer {
  max-width: 350px;
  width: 60vw;
  margin: 30px auto 30px auto;
}

.achievement-name {
  font-weight: bold;
}

.achievement-description {
  font-style: italic;
}

.light .achievement-locked {
  color: gray;
}

.dark .achievement-locked {
  color: lightgray;
}

body {
  font-family: Roboto, sans-serif;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  text-align:center;
}